name: Deploy Sphinx Documentation

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install sphinx sphinx-rtd-theme sphinx-sqlalchemy

      - name: Build HTML
        env:
          # Przekazujemy klucz ze skrytki GitHuba do procesu budowania
          LOG_SECRET_KEY: ${{ secrets.LOG_SECRET_KEY }}
        run: |
          cd docs
          # Tworzymy plik .nojekyll, aby GitHub nie ignorował folderów zaczynających się od podkreślenia
          touch _build/html/.nojekyll
          make html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
